<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <header class="navbar">
        <a href="/">Home</a>
        <a href="/genres">Genres</a>
        <a href="/movies">Movies</a>
      </header>

      <h1>Welcome to <%= title %></h1>
      <p>A Mini IMDB built with Express, EJS, and PostgreSQL</p>
    </div>
  </body>
</html>
